@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/PersonalInformation.cshtml";
}

<link href="~/css/bootstrap-button.css" rel="stylesheet" />
<link href="~/css/ChangePassword.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    <div class="Change-PI-main">

        <div class="Change-PS-table">
            <div class="Change-PS-tittle">
                <span>
                    <img src="~/images/favicon.ico" />修改密码
                </span>
            </div>
            <table>
                <tr>
                    <td class="Change-PS-table-tittle">用户名:</td>
                    <td class="Change-PS-table-content">@ViewData["UserName"]</td>
                </tr>
                <tr>
                    <td class="Change-PS-table-tittle">当前密码:</td>
                    <td class="Change-PS-table-content"><input type="password" name="pwd"></td>
                    @*<td class="Change-PS-table-forget"><a>忘记当前密码?去联系管理员吧!</a></td>*@
                </tr>
                <tr>
                    <td class="Change-PS-table-tittle">新密码:</td>
                    <td class="Change-PS-table-content"><input type="password" onkeyup=pwStrength(this.value) onblur=pwStrength(this.value) name="pwd1">  </td>
                </tr>
                <tr>
                    <td class="Change-PS-table-tittle">密码强度:</td>
                    <td class="Change-PS-table-content">
                        <table class="Change-PS-table-strength">
                            <tr>
                                <td id="strength_L">弱</td>
                                <td id="strength_M">中</td>
                                <td id="strength_H">强</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="Change-PS-table-tittle">确认新密码:</td>
                    <td class="Change-PS-table-content"><input type="password" name="pwd2"></td>
                </tr>
                <tr>
                    <td class="Change-PS-table-tittle">验证码:</td>
                    <td class="Change-PS-table-content"><input type="text" name="code"></td>
                </tr>

            </table>
            <div class="Change-Code">
              <div class="Code-img"><img src="../PersonalInformation/CheckCode?ID=1" id="imgCode" alt="单击可刷新" onclick="ClickRemoveChangeCode()"  /></div>
              <div class="Code-change"><a href="javascript:void(0)" onclick="ClickRemoveChangeCode();return false;">换一张</a></div>
        </div>
            <hr class="hr1" />
            <div class="Change-PS-button">
                <input type="submit" name="TK" class="button-3d button-primary button-rounded" value="     修改      " style="background: #077ace; color: #fff; border: 1px solid #077ace; " />
            </div>
        </div>


    </div>
}
<script type="text/javascript">
    function ClickRemoveChangeCode() {
        var code = $("#imgCode").attr("src");
        $("#imgCode").attr("src", code + "1");
    }
    function CharMode(iN) {
        if (iN >= 48 && iN <= 57)
            return 1;
        if (iN >= 65 && iN <= 90)
            return 2;
        if (iN >= 97 && iN <= 122)
            return 4;
        else
            return 8;
    }
    function bitTotal(num) {
        modes = 0;
        for (i = 0; i < 4; i++) {
            if (num & 1) modes++;
            num >>>= 1;
        }
        return modes;
    }
    function checkStrong(sPW) {
        if (sPW.length <= 4)
            return 0;
        Modes = 0;
        for (i = 0; i < sPW.length; i++) {
            Modes |= CharMode(sPW.charCodeAt(i));
        }
        return bitTotal(Modes);
    }
    function pwStrength(pwd) {
        O_color = "#fff";
        L_color = "#b6ff00";
        M_color = "#FF9900";
        H_color = "#FF0000";
        if (pwd == null || pwd == '') {
            Lcolor = Mcolor = Hcolor = O_color;
        }
        else {
            S_level = checkStrong(pwd);
            switch (S_level) {
                case 0:
                    Lcolor = Mcolor = Hcolor = O_color;
                case 1:
                    Lcolor = L_color;
                    Mcolor = Hcolor = O_color;
                    break;
                case 2:
                    Mcolor = M_color;
                    Hcolor = O_color;
                    break;
                default:
                    Hcolor = H_color;
            }
        }
        document.getElementById("strength_L").style.background = Lcolor;
        document.getElementById("strength_M").style.background = Mcolor;
        document.getElementById("strength_H").style.background = Hcolor;
        return;
    }
</script>