@{
    ViewBag.Title = "MJoinJob";
    Layout = "~/Views/Talent.cshtml";
}
<link href="~/css/als_demo.css" rel="stylesheet" />
<link href="~/css/Gmain.css" rel="stylesheet" />
<link href="~/css/Gstyle.css" rel="stylesheet" />
<div class="header agile">
    <h1>实训申请填写</h1>
    <div class="wrap">
        <div class="contact">
            <div class="contact-head">
                <h2>表单项</h2>
                <div class="cls-con"><img src="/Images/cancel.png" alt=""> </div>
                <div class="clear"> </div>
            </div>
            <!--主要表单内容form-->
            <form action="#" method="post" onsubmit="return checkform();">
                <div class="lable-2">
                    <input type="text" name="TrainID" value="实训ID，网页传值获得" readonly="readonly">
                </div>
                <div class="lable">
                    <input type="text" name="Title" id="title" value="实训课题" required onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '实训课题';}">
                    <input type="text" name="Title" value="组长ID" id="LeaderID" required onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '组长ID';}">

                    <input type="text" name="MemberID" value="组员ID，如有多个用逗号分隔" id="MemberID" required onfocus="this.value = '';" onblur="if (this.value == '') { this.value = '组员ID，如有多个用逗号分隔'; }">

                    <input type="text" name="Num" value="小组人数" id="teamNum" required onfocus="this.value = '';" onblur="if (this.value == '') { this.value = '小组人数'; }">
                    <input class="date" id="datepicker" name="Text" type="text" value="yyyy-dd-mm" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '申请日期';}" required>
                </div>
                <div class="lable-2">
                    <input type="text" name="type" value="实训类型，网页传值获得" readonly="true">
                    <input type="submit" value="提交" />
                </div>
            </form>

        </div>
    </div>
</div>
    <!--//验证表单的数据 -->
<script type="text/javascript">
    checkform = function () {
        var js_keti = document.getElementById("title");//实训课题
        var js_leaderID = document.getElementById("LeaderID");//组长ID
        var js_MemberID = document.getElementById("MemberID");//组员
        var js_teamNum = document.getElementById("teamNum");//小组人数
        var js_datepicker = document.getElementById("datepicker");//日期
        if (js_keti.value == "实训课题")//当内容为默认值时，要求用户填写实训课题
        {
            alert("请填写实训课题！");
            return false;//表单不提交
        }
        //验证账号必须为0-9的数字组成
        if (js_leaderID.value.match(/^-?[0-9]\d*$/) == null) {
            alert("组长ID必须为0-9的纯数字！");
            return false;
        }
        //当小组人数大于1，且组员ID中不含有逗号时或者含有非数字时
        if (js_teamNum.value.match(/^[2-9]\d*$/) != null && js_MemberID.value.indexOf(",") <= -1 || js_MemberID.value.match(/^(\d+,)*\d+$/) == null) {
            alert("请检查组员ID是否已用”,“分隔，或者是否输入了非纯数字字符");
            return false;
        }
        //验证组员的人数必须大于0；
        if (js_teamNum.value.match(/^[1-9]\d*$/) == null) {
            alert("人数必须大于等于1！");
            return false;
        }
        //验证日期格式为yyyy-mm-dd
        if (js_datepicker.value.match(/([0-9]{3}[1-9]|[0-9]{2}[1-9][0-9]{1}|[0-9]{1}[1-9][0-9]{2}|[1-9][0-9]{3})-(((0[13578]|1[02])-(0[1-9]|[12][0-9]|3[01]))|((0[469]|11)-(0[1-9]|[12][0-9]|30))|(02-(0[1-9]|[1][0-9]|2[0-8])))/) == null)//如果没有匹配到
        {
            alert("格式日期错误，应该类似于”2017-06-09“");
            return false;
        }
    }
</script>
