@{
    ViewBag.Title = "PorjectHome";
    Layout = "~/Views/Project.cshtml";
}
    <div class="fullwidthbanner-container top-shadow">
		<div class="fullwidthbanner">
			<ul>
				<!-- Slide 1 -->
				<li data-transition="boxfade" data-slotamount="2" data-masterspeed="300">
				<!-- Main Image -->
				<img src="~/images/Project/Slider-1.jpg" alt="">
				<!-- End Main Image -->
				</li>
				<!-- End Slide 1 -->
				<!-- Slide 2 -->
				<li data-transition="boxfade" data-slotamount="3" data-masterspeed="300">
				<!-- Main Image -->
				<img src="~/images/Project/Slider-2.jpg" alt="">
				<!-- End Main Image -->
				</li>
				<!-- End Slide 2 -->
				<!-- Slide 3 -->
				<li data-transition="boxfade" data-slotamount="4" data-masterspeed="300">
				<!-- Main Image -->
				<img src="~/images/Project/Slider-3.jpg" alt="">
				<!-- End Main Image -->
				</li>
				<!-- End Slide 3 -->
				<!-- Slide 4 -->
				<li data-transition="boxfade" data-slotamount="5" data-masterspeed="300">
				<!-- Main Image -->
				<img src="~/images/Project/Slider-4.jpg" alt="">
				<!-- End Main Image -->
				</li>
				<!-- End Slide 4-->
			</ul>
		</div>
	</div>
	<!-- END REVOLUTION SLIDER
	============================================= -->
<div class="container">

<div class="sixteen columns welcome">
<h3>高校师生及企业利用平台进行技术信息发布、课题项目交流，实现项目的合作开发研究。<br />
You can publish or receive a project on this platform.</h3>
</div>

<div class="separator"></div>
				<div class="four columns">
					<!-- Icon Box -->
					<div class="service">
                        <a href="CEProject"><i class="fa fa-briefcase colored square"></i></a>
						<h3 class="centered"><a href="CEProject" class="dark-link">企业项目</a></h3>
						<p class="centered1">
                        为企业需求提供技术人才，由企业提供相应的开发资金由师生为其完成相应的企业项目。
						</p>
					</div>
					<!-- End Icon Box -->
				</div>
				<div class="four columns">
					<!-- Icon Box -->
					<div class="service">
                        <a href="CSProject"><i class="fa fa-github-alt colored square"></i></a>
						<h3 class="centered"><a href="CSProject" class="dark-link">师生项目</a></h3>
						<p class="centered1">
						由在校的师生自主发起的项目申请，由学校审批且由学校提供研发资金来进行研发。
						</p>
					</div>
					<!-- End Icon Box -->
				</div>
				<div class="four columns">
					<!-- Icon Box -->
					<div class="service">
                        <a href="CCProject"><i class="fa fa-comments colored square"></i></a>
						<h3 class="centered"><a href="CCProject" class="dark-link">合作项目</a></h3>
						<p class="centered1">
                        由企业提供相应的资金和人才，学校提供相应技术人才共同进行项目研发。
						</p>
					</div>
					<!-- End Icon Box -->
				</div>
				<div class="four columns">
					<!-- Icon Box -->
					<div class="service">
                        <a href="COProject"><i class="fa fa-globe colored square"></i></a>
						<h3 class="centered"><a href="COProject" class="dark-link">外包项目</a></h3>
						<p class="centered1">
						具有国内外的外包项目，可由师生进行自主选择项目进行研发。
						</p>
					</div>
					<!-- End Icon Box -->
				</div>

<div class="clearfix"></div>

<div class="separator"></div>

<!-- Our Clients
================================================== -->
	<div class="sixteen columns clients">
    <h4 class="headline">合作企业</h4>

		<!-- Start brand carousel -->
			<ul id="flexiselDemo2">
            <li><img src="~/images/client1.png" alt="" /></li>
            <li><img src="~/images/client2.png" alt="" /></li>
            <li><img src="~/images/client3.png" alt= "" /></li>
            <li><img src="~/images/client4.png" alt= "" /></li>
            <li><img src="~/images/client5.png" alt= "" /></li>
            </ul>
            <div class="clearout"></div>
		<!-- End brand carousel -->
		</div>

</div>
