USE [master]
GO
/****** Object:  Database [SECP]    Script Date: 2016/12/18 10:53:39 ******/
CREATE DATABASE [SECP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SECP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SECP.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SECP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SECP_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SECP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SECP]
GO
/****** Object:  Table [dbo].[Achievements]    Script Date: 2016/12/18 10:53:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Achievements](
	[Achievements_Id] [int] IDENTITY(1,1) NOT NULL,
	[Achievements_Type] [nvarchar](20) NOT NULL,
	[Achievements_Theme] [nvarchar](50) NOT NULL,
	[Achievements_Time] [datetime] NOT NULL,
	[Achievements_Thesis] [nvarchar](max) NULL,
	[Achievements_Publisher] [nvarchar](20) NOT NULL,
	[Achievements_Pro] [nvarchar](max) NULL,
	[Achievemetns_contact] [nvarchar](50) NOT NULL,
	[Achievements_Specialty] [nvarchar](200) NOT NULL,
	[Achievements_Checks] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Achievements] PRIMARY KEY CLUSTERED 
(
	[Achievements_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2016/12/18 10:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[admin_Id] [int] NOT NULL,
	[admin_UserName] [nvarchar](20) NOT NULL,
	[admin_Password] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[admin_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Enterprise]    Script Date: 2016/12/18 10:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enterprise](
	[Enterprise_Id] [int] IDENTITY(1,1) NOT NULL,
	[Enterprise_UserName] [nvarchar](20) NOT NULL,
	[Enterprise_Password] [nvarchar](20) NOT NULL,
	[Enterprise_Name] [nvarchar](20) NOT NULL,
	[Enterprise_Type] [nvarchar](20) NOT NULL,
	[Enterprise_Scale] [nvarchar](20) NOT NULL,
	[Enterprise_Brief] [nvarchar](200) NOT NULL,
	[Enterprise_Place] [nvarchar](50) NOT NULL,
	[Enterprise_Industry] [nvarchar](20) NOT NULL,
	[Enterprise_Postcode] [nvarchar](20) NOT NULL,
	[Enterprise_Contact] [nvarchar](20) NOT NULL,
	[Enterprise_Business] [nvarchar](max) NOT NULL,
	[Enterprise_Culture] [nvarchar](max) NOT NULL,
	[Enterprise_Email] [nvarchar](50) NOT NULL,
	[Enterprise_Tel] [nvarchar](20) NOT NULL,
	[Enterprise_Checks] [nvarchar](20) NOT NULL,
	[Enterprise_QQ] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Enterprise] PRIMARY KEY CLUSTERED 
(
	[Enterprise_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JTrain]    Script Date: 2016/12/18 10:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JTrain](
	[Train_Id] [int] NOT NULL,
	[Train_Type] [nvarchar](20) NOT NULL,
	[Train_Name] [nvarchar](20) NOT NULL,
	[Train_OurName] [nvarchar](50) NOT NULL,
	[Leader_ID] [int] NOT NULL,
	[Join_Time] [date] NOT NULL,
	[Team_Num] [int] NOT NULL,
	[Leader_Name] [nvarchar](20) NOT NULL,
	[Member_Name] [nvarchar](200) NOT NULL,
	[id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 2016/12/18 10:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Products_Id] [int] IDENTITY(1,1) NOT NULL,
	[Products_Type] [nvarchar](20) NOT NULL,
	[Products_Theme] [nvarchar](20) NOT NULL,
	[Products_Time] [datetime] NOT NULL,
	[Products_Money] [nvarchar](20) NOT NULL,
	[Products_Publisher] [nvarchar](20) NOT NULL,
	[Products_Number] [nvarchar](50) NOT NULL,
	[Products_contact] [nvarchar](200) NOT NULL,
	[Products_Checks] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Products_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Project]    Script Date: 2016/12/18 10:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[Project_Id] [int] IDENTITY(1,1) NOT NULL,
	[Project_Type] [nvarchar](20) NOT NULL,
	[Project_Name] [nvarchar](50) NOT NULL,
	[Project_STime] [datetime] NOT NULL,
	[Project_State] [nvarchar](20) NOT NULL,
	[Project_Money] [int] NOT NULL,
	[Project_TimeLimeit] [int] NOT NULL,
	[Project_Requirement] [nvarchar](50) NULL,
	[Project_Content] [nvarchar](20) NOT NULL,
	[Project_Contact] [nvarchar](50) NOT NULL,
	[Project_Publisher] [nvarchar](20) NOT NULL,
	[Project_PubilsherType] [nvarchar](20) NOT NULL,
	[Project_Evaluation] [nvarchar](max) NULL,
	[Project_Checks] [nvarchar](20) NOT NULL,
	[Project_Sendee] [nvarchar](20) NOT NULL,
	[Project_SendeeType] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[Project_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Resume]    Script Date: 2016/12/18 10:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resume](
	[Resume_Id] [int] IDENTITY(1,1) NOT NULL,
	[company_Id] [int] NOT NULL,
	[Talent_Id] [int] NOT NULL,
	[sudent_Id] [int] NOT NULL,
	[Resume_Time] [datetime] NOT NULL,
	[Resume_State] [nvarchar](20) NOT NULL,
	[Resume_reply] [nvarchar](200) NULL,
 CONSTRAINT [PK_Resume] PRIMARY KEY CLUSTERED 
(
	[Resume_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SimpleInfo]    Script Date: 2016/12/18 10:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SimpleInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[PublishDate] [date] NOT NULL,
	[ImageUrl] [varchar](200) NULL,
	[LinkUrl] [varchar](200) NOT NULL,
	[Category1] [int] NOT NULL,
	[BriefInfo] [nvarchar](300) NULL,
	[Category2] [int] NOT NULL,
 CONSTRAINT [PK_SimpleInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2016/12/18 10:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[student_Id] [int] IDENTITY(1,1) NOT NULL,
	[student_UserName] [nvarchar](20) NOT NULL,
	[student_Password] [nvarchar](20) NOT NULL,
	[student_RealName] [nvarchar](20) NOT NULL,
	[student_BornDate] [datetime] NOT NULL,
	[student_Sex] [nvarchar](5) NOT NULL,
	[student_Major] [nvarchar](50) NOT NULL,
	[student_GradSchool] [nvarchar](50) NOT NULL,
	[student_Edu] [nvarchar](20) NOT NULL,
	[student_Tel] [nvarchar](20) NOT NULL,
	[student_Email] [nvarchar](20) NOT NULL,
	[student_Address] [nvarchar](50) NOT NULL,
	[student_Photo] [nvarchar](50) NULL,
	[student_Glory] [nvarchar](max) NULL,
	[student_Practic] [nvarchar](max) NULL,
	[stduent_Introduce] [nvarchar](max) NULL,
	[student_Train] [nvarchar](max) NULL,
	[student_WorkPlace] [nvarchar](50) NULL,
	[student_Occupation] [nvarchar](20) NULL,
	[student_Wage] [nvarchar](50) NULL,
	[student_SKill] [nvarchar](50) NULL,
	[student_Hobby] [nvarchar](max) NULL,
	[student_QQ] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_student] PRIMARY KEY CLUSTERED 
(
	[student_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Talent]    Script Date: 2016/12/18 10:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Talent](
	[Talent_Id] [int] IDENTITY(1,1) NOT NULL,
	[Talent_Type] [nvarchar](20) NOT NULL,
	[Talent_Name] [nvarchar](20) NOT NULL,
	[Talent_Time] [datetime] NOT NULL,
	[Talent_State] [nvarchar](20) NOT NULL,
	[Talent_Publisher] [nvarchar](20) NOT NULL,
	[Talent_Num] [nvarchar](20) NOT NULL,
	[Talent_Money] [nvarchar](20) NOT NULL,
	[Talent_Place] [nvarchar](50) NOT NULL,
	[Talent_Welfare] [nvarchar](50) NOT NULL,
	[Talent_Content] [nvarchar](200) NOT NULL,
	[Talent_Checks] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Talent] PRIMARY KEY CLUSTERED 
(
	[Talent_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 2016/12/18 10:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[teacher_Id] [int] IDENTITY(1,1) NOT NULL,
	[teacher_UserName] [nvarchar](20) NOT NULL,
	[teacher_Password] [nvarchar](20) NOT NULL,
	[teacher_RealName] [nvarchar](20) NOT NULL,
	[teacher_BornDate] [datetime] NULL,
	[teacher_Sex] [nvarchar](5) NOT NULL,
	[teacher_Edu] [nvarchar](10) NOT NULL,
	[teacher_GradSchool] [nvarchar](20) NOT NULL,
	[teacher_AtSchool] [nvarchar](20) NOT NULL,
	[teacher_Email] [nvarchar](20) NOT NULL,
	[teacher_Tel] [nvarchar](20) NOT NULL,
	[teacher_Address] [nvarchar](50) NOT NULL,
	[teacher_Introduce] [nvarchar](max) NULL,
	[teacher_Position] [nvarchar](20) NOT NULL,
	[teacher_Glory] [nvarchar](max) NULL,
	[teacher_RepThesis] [nvarchar](max) NULL,
	[teacher_RepPro] [nvarchar](max) NULL,
	[teacher_RepProject] [nvarchar](max) NULL,
	[teacher_TeachClass] [nvarchar](20) NOT NULL,
	[teacher_QQ] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[teacher_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Train]    Script Date: 2016/12/18 10:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Train](
	[Train_Id] [int] IDENTITY(1,1) NOT NULL,
	[Train_Type] [nvarchar](20) NOT NULL,
	[Train_Name] [nvarchar](20) NOT NULL,
	[Train_Time] [datetime] NOT NULL,
	[Train_State] [nvarchar](20) NOT NULL,
	[Train_Publisher] [nvarchar](20) NOT NULL,
	[Train_Place] [nvarchar](50) NOT NULL,
	[Train_Major] [nvarchar](20) NOT NULL,
	[Train_Content] [nvarchar](200) NOT NULL,
	[Train_Objective] [nvarchar](50) NOT NULL,
	[Train_Checks] [nvarchar](20) NOT NULL,
	[Train_Date] [nvarchar](50) NULL,
 CONSTRAINT [PK_Train] PRIMARY KEY CLUSTERED 
(
	[Train_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 2016/12/18 10:53:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[User_Id] [int] IDENTITY(1,1) NOT NULL,
	[User_UserName] [nvarchar](20) NOT NULL,
	[User_Password] [nvarchar](20) NOT NULL,
	[User_QQ] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Achievements] ON 

INSERT [dbo].[Achievements] ([Achievements_Id], [Achievements_Type], [Achievements_Theme], [Achievements_Time], [Achievements_Thesis], [Achievements_Publisher], [Achievements_Pro], [Achievemetns_contact], [Achievements_Specialty], [Achievements_Checks]) VALUES (1, N'论文', N'基于项目管理的软件产品研发管理研究', CAST(N'2009-03-10 00:00:00.000' AS DateTime), N'软件开发技术、方法不断更新换代，软件开发过程与软件工程方法也得到不断地改进，现代项目管理方法也开始进入到软件研发等高科技领域。最近几年“项目管理”,在国内软件研发领域非常火热，项目管理培训与认证（如PMP 认证）成为热门，网络上的软件项目管理论坛、讨论群组更是越来越多、越办越好，在许多软件企业中，也将项目管理作为他们的软件产品研发管理体系的一个重要组成部分。', N'胡红艳，刘咏梅', NULL, N'13790712561', N'管理研发', N'已通过')
INSERT [dbo].[Achievements] ([Achievements_Id], [Achievements_Type], [Achievements_Theme], [Achievements_Time], [Achievements_Thesis], [Achievements_Publisher], [Achievements_Pro], [Achievemetns_contact], [Achievements_Specialty], [Achievements_Checks]) VALUES (2, N'产品', N'基于spark的信贷平台', CAST(N'2014-06-05 00:00:00.000' AS DateTime), NULL, N'震星公司', NULL, N'13790715648', N'信息处理', N'已通过')
INSERT [dbo].[Achievements] ([Achievements_Id], [Achievements_Type], [Achievements_Theme], [Achievements_Time], [Achievements_Thesis], [Achievements_Publisher], [Achievements_Pro], [Achievemetns_contact], [Achievements_Specialty], [Achievements_Checks]) VALUES (9, N'论文', N'测试数据1', CAST(N'2016-04-05 21:55:51.790' AS DateTime), N'../Poper_File/job.txt', N'teacher111', NULL, N'测试数据1', N'测试数据1', N'已通过')
SET IDENTITY_INSERT [dbo].[Achievements] OFF
INSERT [dbo].[Admin] ([admin_Id], [admin_UserName], [admin_Password]) VALUES (1, N'admin', N'ADMIN')
INSERT [dbo].[Admin] ([admin_Id], [admin_UserName], [admin_Password]) VALUES (2, N'Goverment', N'gover')
SET IDENTITY_INSERT [dbo].[Enterprise] ON 

INSERT [dbo].[Enterprise] ([Enterprise_Id], [Enterprise_UserName], [Enterprise_Password], [Enterprise_Name], [Enterprise_Type], [Enterprise_Scale], [Enterprise_Brief], [Enterprise_Place], [Enterprise_Industry], [Enterprise_Postcode], [Enterprise_Contact], [Enterprise_Business], [Enterprise_Culture], [Enterprise_Email], [Enterprise_Tel], [Enterprise_Checks], [Enterprise_QQ]) VALUES (1, N'school', N'123456', N'中山学院项目组', N'国企', N'20001', N'电子科技大学中山学院的介绍', N'中山', N'学校', N'110120', N'何老师', N'学院项目，合作项目', N'教书育人，培养人才!!', N'school1@edu.com', N'0760-6606101', N'已通过', N'423043047')
SET IDENTITY_INSERT [dbo].[Enterprise] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Products_Id], [Products_Type], [Products_Theme], [Products_Time], [Products_Money], [Products_Publisher], [Products_Number], [Products_contact], [Products_Checks]) VALUES (1, N'零件', N'测试数据2', CAST(N'2016-04-07 13:39:18.807' AS DateTime), N'2000', N'school', N'109829981', N'测试数据2', N'已通过')
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[Project] ON 

INSERT [dbo].[Project] ([Project_Id], [Project_Type], [Project_Name], [Project_STime], [Project_State], [Project_Money], [Project_TimeLimeit], [Project_Requirement], [Project_Content], [Project_Contact], [Project_Publisher], [Project_PubilsherType], [Project_Evaluation], [Project_Checks], [Project_Sendee], [Project_SendeeType]) VALUES (2, N'企业', N'软件算法分析', CAST(N'2015-10-30 00:00:00.000' AS DateTime), N'待接', 5000, 30, N'2年及以上', N'分析一个软件加密算法，具体需求联系', N'13790712222', N'school', N'企业', NULL, N'已通过', N'', N'')
INSERT [dbo].[Project] ([Project_Id], [Project_Type], [Project_Name], [Project_STime], [Project_State], [Project_Money], [Project_TimeLimeit], [Project_Requirement], [Project_Content], [Project_Contact], [Project_Publisher], [Project_PubilsherType], [Project_Evaluation], [Project_Checks], [Project_Sendee], [Project_SendeeType]) VALUES (4, N'师生', N'图书馆馆标Logo征集', CAST(N'2015-10-30 00:00:00.000' AS DateTime), N'已接', 1000, 15, N'无需经验', N'详情待联系', N'13790712223', N'teacher111', N'教师', NULL, N'已通过', N'seahailin', N'学生')
INSERT [dbo].[Project] ([Project_Id], [Project_Type], [Project_Name], [Project_STime], [Project_State], [Project_Money], [Project_TimeLimeit], [Project_Requirement], [Project_Content], [Project_Contact], [Project_Publisher], [Project_PubilsherType], [Project_Evaluation], [Project_Checks], [Project_Sendee], [Project_SendeeType]) VALUES (5, N'外包', N'.net开发一个发布图片的网站', CAST(N'2015-10-30 00:00:00.000' AS DateTime), N'已接', 2000, 15, N'无需经验', N'.net开发一个发布图片的网站', N'13790712224', N'teacher111', N'教师', NULL, N'已通过', N'seahailin', N'学生')
SET IDENTITY_INSERT [dbo].[Project] OFF
SET IDENTITY_INSERT [dbo].[Resume] ON 

INSERT [dbo].[Resume] ([Resume_Id], [company_Id], [Talent_Id], [sudent_Id], [Resume_Time], [Resume_State], [Resume_reply]) VALUES (1, 1, 3, 1, CAST(N'2016-04-04 13:31:16.427' AS DateTime), N'待审核', N'未回复')
INSERT [dbo].[Resume] ([Resume_Id], [company_Id], [Talent_Id], [sudent_Id], [Resume_Time], [Resume_State], [Resume_reply]) VALUES (2, 1, 4, 1, CAST(N'2016-04-04 13:32:12.067' AS DateTime), N'待审核', N'未回复')
SET IDENTITY_INSERT [dbo].[Resume] OFF
SET IDENTITY_INSERT [dbo].[SimpleInfo] ON 

INSERT [dbo].[SimpleInfo] ([ID], [Title], [PublishDate], [ImageUrl], [LinkUrl], [Category1], [BriefInfo], [Category2]) VALUES (1, N'中国“神威·太湖之光”再次问鼎世界超算冠军', CAST(N'2016-11-18' AS Date), NULL, N'http://www.baidu.com', 0, NULL, 0)
INSERT [dbo].[SimpleInfo] ([ID], [Title], [PublishDate], [ImageUrl], [LinkUrl], [Category1], [BriefInfo], [Category2]) VALUES (2, N'中办国办印发文件让知识的红利充分释放', CAST(N'2016-11-11' AS Date), NULL, N'http://www.zhihu.com', 0, NULL, 0)
INSERT [dbo].[SimpleInfo] ([ID], [Title], [PublishDate], [ImageUrl], [LinkUrl], [Category1], [BriefInfo], [Category2]) VALUES (3, N'中共中央办公厅 国务院办公厅印发《关于实行以增加知识价值为导向分配政策的若干意见》', CAST(N'2016-11-08' AS Date), NULL, N'http://www.bilibili.com', 0, NULL, 0)
SET IDENTITY_INSERT [dbo].[SimpleInfo] OFF
SET IDENTITY_INSERT [dbo].[Student] ON 

SET IDENTITY_INSERT [dbo].[Student] OFF
SET IDENTITY_INSERT [dbo].[Talent] ON 

INSERT [dbo].[Talent] ([Talent_Id], [Talent_Type], [Talent_Name], [Talent_Time], [Talent_State], [Talent_Publisher], [Talent_Num], [Talent_Money], [Talent_Place], [Talent_Welfare], [Talent_Content], [Talent_Checks]) VALUES (1, N'全职', N'.net程序员', CAST(N'2015-10-30 00:00:00.000' AS DateTime), N'正在招聘', N'school', N'10', N'5000', N'东区中山五路57号1座4楼3卡', N'五险一金，包住', N' 12345678', N'已通过')
INSERT [dbo].[Talent] ([Talent_Id], [Talent_Type], [Talent_Name], [Talent_Time], [Talent_State], [Talent_Publisher], [Talent_Num], [Talent_Money], [Talent_Place], [Talent_Welfare], [Talent_Content], [Talent_Checks]) VALUES (3, N'实习', N'java程序员', CAST(N'2016-01-01 00:00:00.000' AS DateTime), N'正在招聘', N'school', N'5', N'3000', N'电子科技大学中山学院', N'包吃住', N'1232131', N'已通过')
INSERT [dbo].[Talent] ([Talent_Id], [Talent_Type], [Talent_Name], [Talent_Time], [Talent_State], [Talent_Publisher], [Talent_Num], [Talent_Money], [Talent_Place], [Talent_Welfare], [Talent_Content], [Talent_Checks]) VALUES (4, N'全职', N'java程序员', CAST(N'2016-01-01 00:00:00.000' AS DateTime), N'正在招聘', N'school', N'5', N'3000', N'Fate本部', N'送作死', N'1232142', N'已通过')
SET IDENTITY_INSERT [dbo].[Talent] OFF
SET IDENTITY_INSERT [dbo].[Teacher] ON 

SET IDENTITY_INSERT [dbo].[Teacher] OFF
SET IDENTITY_INSERT [dbo].[Train] ON 

INSERT [dbo].[Train] ([Train_Id], [Train_Type], [Train_Name], [Train_Time], [Train_State], [Train_Publisher], [Train_Place], [Train_Major], [Train_Content], [Train_Objective], [Train_Checks], [Train_Date]) VALUES (1, N'学校', N'C#期末实训', CAST(N'2015-10-30 00:00:00.000' AS DateTime), N'未开始', N'李老师', N'厚德楼A502', N'软件工程', N'ASP.NET基础实训课程', N'学习基础asp.net知识', N'已通过', N'9月11号')
INSERT [dbo].[Train] ([Train_Id], [Train_Type], [Train_Name], [Train_Time], [Train_State], [Train_Publisher], [Train_Place], [Train_Major], [Train_Content], [Train_Objective], [Train_Checks], [Train_Date]) VALUES (2, N'企业', N'asp.net mvc培训', CAST(N'2016-04-05 20:32:34.727' AS DateTime), N'未开始', N'school', N'龙傲天软件公司', N'软件工程班', N' 本次实训中，需要同学们认真学习，脚踏实地！', N'学会mvc的架构', N'已通过', N'8月12号')
INSERT [dbo].[Train] ([Train_Id], [Train_Type], [Train_Name], [Train_Time], [Train_State], [Train_Publisher], [Train_Place], [Train_Major], [Train_Content], [Train_Objective], [Train_Checks], [Train_Date]) VALUES (3, N'学校', N'java实训', CAST(N'2016-04-05 20:56:04.340' AS DateTime), N'未开始', N'teacher111', N'厚德楼B-201', N'网络工程', N'本次实训有20天，要求学生做出一个小项目。', N'学会ssh架构', N'已通过', N'10月20号')
SET IDENTITY_INSERT [dbo].[Train] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([User_Id], [User_UserName], [User_Password], [User_QQ]) VALUES (1, N'Test01', N'123456', N'123456789100')
SET IDENTITY_INSERT [dbo].[User] OFF
USE [master]
GO
