.Change-PI-main{
    width:900px;
    height:565px;
    margin-top:5px;
}
.Change-PS-tittle{
    width:890px;
    height:40px;
    float:left;
    line-height:40px;
    padding-left:10px;
    font-weight:bolder;
    border-bottom:3px dashed #04bfea;
}
.Change-PS-tittle span{
    color:#148cca;
    font-size:25px;
}

.Change-PS-table{
    width:900px;
    height:525px;
    border:3px solid #e9e8e8;
    margin-left:200px;
    border-radius:10px;
    margin-bottom:5px;
    
   
}
.hr1{
    width:895px;
    position:absolute;
    z-index:70;
    top:540px;
    border:2px dashed #aaa7a7;
    
}

.Change-PS-table-tittle{
    font-size:14px;
    font-weight:bolder;
    color:#aaa7a7;
    padding-top:25px;
    padding-left:200px;
}
.Change-PS-table-content{
    height:40px;
    color:#04bfea;
    margin-left:40px;
    padding-left:30px;
    font-weight:bolder;
    font-size:16px;
   padding-top:25px; 
}

.Change-PS-button{
    width:100px;
    float:left;
    margin-top:44px;
    margin-left:380px;
    
}
.Change-PS-table-forget{
   padding-left:30px;
    font-size:12px;
    font-weight:normal;
}
#strength_L{
    margin-left:10px;
    text-align:center;
    width:50px;
    background-color:#fff;
}

#strength_M{
    margin-left:10px;
    text-align:center;
    width:50px;
    background-color:#fff;
}
#strength_H{
    margin-left:10px;
    text-align:center;
    width:50px;
    background-color:#fff;
}
.Change-Code{
    float:left;
    width:170px;
    height:100px;
    margin-left:310px;
    margin-top:5px;
}
.Code-img{
    float:left;
    width:120px;
    height:30px;
}
.Code-change{
    float:left;
    width:50px;
    height:30px;
}