
/*科技规划*/
.page-content {
  margin-bottom: 20px;
}

.page-sidebar #twitter_update_list > ul {
  margin: 0 0 10px;
}
.page-sidebar #twitter_update_list > ul > li {
  background: none;
  padding: 0 0 10px;
  margin-bottom: 10px;
}
.page-sidebar #twitter_update_list > ul > li span {
  display: block;
  font-size: 11px;
}
.page-sidebar .flickr-photos img {
  background-color: #f2f2f2;
}
.page-sidebar .flickr-photos img:hover {
  background-color: #cccccc;
} 
/*科技规划*/
.faq-item {
  padding: 12px 25px 10px 45px;
  border: 1px solid #fff;
  border-bottom: 1px solid #e8e8e8;
  /*不可层叠,这里是图片的位置*/
  position: relative;
}
/*下拉框打开*/
.faq-icon {
  background-image: url("/images/faq-plus.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  /*下浮动*/
  display: inline-block;
  height: 17px;
  width: 17px;
  top: 15px;
  left: 15px;
  cursor: pointer;
}
/*下拉框收起*/
.faq-item.active .faq-icon {
  background-image: url("/images/faq-minus.png");
}

.faq-item.active {
  background-color: #f5f5f5;
  border: 1px solid #eaeaea;
  margin-bottom: 5px;
}
.faq-item.active h3.faq-question {
  color: #395996;
}

.faq-item h3.faq-question {
  color: #666565;
  font-size: 14px;
  line-height: 22px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin: 0;
}
.faq-item h3.faq-question a {
  color: inherit;
}
.faq-item h3.faq-question a:hover {
  color: #395996;
}

.faq-item .faq-answer {
  margin-top: 10px;
}

}
