@charset 'utf-8';
body{font-family:"hiragino sans gb","microsoft yahei";color:#686868;}
/*header*/
.page-head{background:#148CCA !important;width:100%;height:50px;border-radius: 0 !important;}
.head{width:1000px;height:50px;margin:0 auto;font-family:"hiragino sans gb","microsoft yahei";font-size:14px;color:#fff;background:#148CCA;}
.head a{color:#fff;background:#148CCA;}
.head .head-logo{float:left;padding-top:5px;margin-right:65px;line-height:45px;font-size:20px}
.head .head-logo a img{width:115px;}
.head .navbar{float:right;margin-bottom:0;border:none;}
.head .navbar ul{margin:0;}
.head .navbar ul li{float:left;}
.head .navbar ul li a{padding:15px;color:#fff;text-shadow:none;box-shadow:none;}
.head .navbar ul li a:link{color:#fff;}
.head .navbar ul li a:hover{color:#fff;background:#04bfea;}
.head .navbar ul li a:visited{color:#fff;}
.head .navbar ul li:hover a{color:#fff;}
.head .navbar ul li.active a{color:#04bfea;background:#38ACE7;box-shadow:none;}
.PI-active{ color:#fff;background:#38ACE7;box-shadow:none;padding:15px;color:#fff;text-shadow:none;box-shadow:none;}
.navbar-back{
    float:right;
    padding-top:10px;
    margin-left:30px;
}
.nav-dropdown{
    cursor:default;
}
.nav-dropdown ul{
    margin:10px;
position:absolute;
width:70px;
display:none;
}
.nav-dropdown:hover ul{
 margin-top:5px;
width:70px;
display:block;
}
.nav-dropdown ul li{
color:#fff;
margin-top:10px;
height:30px;
text-align:left;
width:100px;

}

.head .navbar ul li.active a:hover{color:#686868;background:#148CCA;
    ;box-shadow:none;}
.head .navbar ul li.active ul.nav-dropdown-list li a{background:none;}
.head .account-dropbox{float:right;height:50px;line-height:50px;}
.head .account-dropbox a{color:#fff;text-decoration:none;}
.head .account-dropbox img.user-avatar{width:30px;height:30px;margin-right:5px;border-radius:50%;}
.head .account-dropbox a.user{padding-right:6px;}
.head .account-dropbox a.logout-a{padding:0 10px;}
.head .account-dropbox span.divider{display:inline-block;margin-right:-1px;}
.head .account-dropbox li.nav-dropdown,div.db{position:relative;display:inline-block;}
.head .account-dropbox div.db{padding:0 3px 0 10px;}
/**/
.account-dropbox-back{
    float:right;
}
.head div.db i.c-arrow{display:inline-block;width:15px;height:15px;vertical-align:middle;background:url("../image/up_down_arrow.png") 0px -3px no-repeat;}
.head ul.nav-dropdown-list{position:absolute;top:50px;left:-9999px;width:111px;margin:0;border:1px solid #eee;z-index:30;background:#fff;}
.head ul.nav-dropdown-list li{width:110px;line-height:30px;text-align:center;}
.head .navbar ul.nav-dropdown-list li a{display:inline-block;width:110px;padding:2px;color:#686868;text-decoration:none;}
.head ul.db-dropdown-list{position:absolute;top:50px;left:-9999px;width:130px;margin:0;border:1px solid #eee;z-index:30;background:#fff;}
.head ul.db-dropdown-list li{width:128px;float:none;height:33px;line-height:30px;text-align:center;}
.head ul.db-dropdown-list li a{display:inline-block;width:128px;color:#686868;text-decoration:none;}
.head div.db:hover i.c-arrow{background:url("../image/up_down_arrow.png") -23px -3px no-repeat;}
.head div.db:hover ul{left:0;right:auto;}
.head div.db ul li:hover{background:#ebebeb;}

.navbar-nav{background:#fff;}
.navbar-nav a{background:#148cca;text-decoration:none;}
.navbar-nav{background:#148cca;}
.navbar-nav ul{left: auto;}
.navbar-nav{background:#fff;}
.navbar-nav{text-decoration:none;}

/*footer*/
.page-footer{background:#fff;}
.footer{width:1000px;margin:0 auto;padding:18px 0!important;overflow:hidden;font-family:"hiragino sans gb","microsoft yahei";}
.footer .footer-item{width:160px;float:left;}
.footer .follow-item{width:175px;color:#6891AF;}
.footer .footer-item .footer-title{padding:15px 0;color:#6891AF;}
.footer .footer-item .footer-title h4{margin:0;border-bottom:none;font-size:18px;font-family:"hiragino sans gb","microsoft yahei";color:#6891AF;}
.footer .footer-item .footer-link{margin:0;}
.footer .footer-item .footer-link li{line-height:30px;}
.footer .footer-item .footer-link li a{font-size:12px;color:#6891AF;}
.footer .footer-item .follow-us{width:160px;height:60px;}
.footer .footer-item .follow-us span.weibo{display: block;float: left;width: 60px;height: 60px;margin-top: 5px;margin-right: 15px;background: url('../image/weibo_weixin_logo.png') no-repeat -3px -2px;background-size:130px;}
.footer .footer-item .follow-us span.weibo:hover{background: url('../image/weibo_weixin_logo.png') no-repeat -72px -2px;background-size:130px;}
.footer .footer-item .follow-us span.weibo a{display:block;width:100%;height:100%;}
.footer .footer-item .follow-us span.weixin{display: block;float: left;margin-top: 5px;width: 60px;height: 60px;position: relative;cursor: pointer;background: url('../image/weibo_weixin_logo.png') no-repeat 1px -72px;background-size:130px;}
.footer .footer-item .follow-us img.qr-code{position:absolute;top:-19px;left:0;max-width:none;z-index:99;width:100px;height:100px;}
.footer .footer-item .follow-us span.weixin:hover{background: url('../image/weibo_weixin_logo.png') no-repeat -68px -72px;background-size:130px;}
.footer .footer-item .app-download a img{width:100px;}
.footer .footer-item .true-cloud a img{width:125px;}
.footer .footer-item .true-cloud ul{margin:0;}
.footer .footer-item .true-cloud li{line-height:20px;font-size:12px;color:#6891AF;}
.copyright{width:1000px;height:50px;line-height:50px;margin:0 auto;text-align:center;color:#337ab7;border-top:1px dashed #337ab7;font-size:12px;font-family:"hiragino sans gb","microsoft yahei";}
.copyright a{text-decoration: none;color: #27a9e3;outline: none;}