@import url(http://fonts.googleapis.com/css?family=Abel|Allura);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);

/*
	Affinity: A responsive HTML5 website template collect from www.cssmoban.com
	Released for free under the Creative Commons Attribution 3.0 license 
	Visit for more great templates or follow us on Twitter @HTML5T
*/


/*********************************************************************************/
/* Global                                                                        */
/*********************************************************************************/

html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #FFFFFF;
	background-color: #A4D3EE;
	background-image: url(../images/techTrends/img01.png);
	background-repeat: repeat;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

p {
	line-height: 180%;
	color: #999;
}

a {
	color: #D1551F;
}

strong {
	font-weight: 700;
	color: #2A2A2A;
}

/* Wrapper */

#wrapper {
	overflow: hidden;
	padding: 0px 0px 50px 0px;
	background-color: #D47028;
	background-image: url(../images/techTrends/bgImage.png);
	background-repeat: repeat;
}



/* Copyright */

#copyright {
	overflow: hidden;
	padding: 50px 0px;
}

#copyright p {
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-size: 11pt;
	color: #AD7253;
}

#copyright a {
	color: #AD7253;
}

#copyright a:hover {
	text-decoration: none;
}


/* Button Style */

.button-style a {
	display: block;
	width: 174px;
	height: 50px;
	margin-top: 30px;
	background: url(../images/techTrends/btnAndTitleBlue.png) repeat;
	border-radius: 10px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 14pt;
	font-weight: 200;
	color: #FFFFFF;
}


/** LIST STYLE 1 */

ul.style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style1 li {
	padding: 15px 0px 15px 0px;
	border-bottom: 1px solid #E6E6E6;
}

ul.style1 li:last-child {
	border-bottom: 0;
}

ul.style1 a {
	display: block;
	padding: 0px 0px 0px 30px;
	text-decoration: none;
	color: #525252;
	background-image: url(../images/techTrends/img009.png);
	background-repeat: no-repeat;
	background-position: left top;
}

ul.style1 a:hover {
	text-decoration: underline;
}

/** LIST STYLE 2 */

ul.style2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style2 li {
	padding: 0px 0px 40px 0px;
}

ul.style2 a {
	text-decoration: none;
	color: #525252;
}

ul.style2 a:hover {
	text-decoration: underline;
}

ul.style2 .date {
	display: inline-block;
	margin: 0px 0px 25px 0px;
	padding: 5px 10px;
	background: url(..images/techTrends/img01.png) repeat;
	letter-spacing: 1px;
	line-height: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 200;
	color: #FFFFFF;
}

ul.style2 .date a {
	color: #FFFFFF;
}

/** LIST STYLE 3 */

ul.style3 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style3 li {
	padding: 20px 0px 25px 0px;
}

ul.style3 a {
	display: block;
	text-decoration: none;
	color: #C18062;
}

ul.style3 a:hover {
	text-decoration: underline;
}

ul.style3 .date {
	float: left;
	width: 80px;
	height: 78px;
	margin: 0px 25px 0px 0px;
	padding: 10px 0px 0px 0px;
	background: #D34C0D;
	line-height: normal;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Abel', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
}

ul.style3 .date b {
	display: block;
	margin: 0px 0px 0px 0px;
	padding: 0;
	letter-spacing: -1px;
	font-size: 40px;
	font-weight: 400;
	color: #FFFFFF;
}

ul.style3 .date a {
	color: #FFFFFF;
}

ul.style3 .date a:hover {
	text-decoration: none;
}

ul.style3 .first {
	padding-top: 0px;
	background: none;
}

/** LIST STYLE 4 */

ul.style4 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style4 li {
	padding: 15px 0px 15px 0px;
	text-shadow: 1px 1px 0px rgba(0,0,0, .3);
	border-top: solid 1px #AC6035;
}

ul.style4 li:first-child {
	border-top: 0;
}

ul.style4 a {
	display: block;
	padding: 0px 0px 0px 30px;
	background: url(../images/techTrends/img09.png) no-repeat left 5px;
	line-height: 160%;
	text-decoration: none;
	color: #F3F1EE;
}

ul.style4 a:hover {
	text-decoration: underline;
}

ul.style4 .first {
	background: none;
	padding-top: 0px;
}
