/*--------------------------------colorNav---------------------------------
+	Main Menu Style
--------------------------------------------------------------------------*/


a, a:visited {
	text-decoration:none;
	outline:none;
	color:#54a6de;
}

a:hover{
	text-decoration:underline;
}

section, footer, nav{
	display: block;
}

.colorNav li.logo-wrapper a {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#colorNav{
    margin-bottom:10px;
}

#colorNav > ul{
	margin:0 auto;
}

#colorNav > ul > li{ 
	list-style: none;
	display: inline-block;
	line-height: 1;
	margin: 1px;
	border-radius: 3px;
	position:relative;
    font-weight:bolder;
}

#colorNav > ul > li > a{
	color:inherit;
	text-decoration:none !important;
	font-size:1.2em;
	padding-left: 25px;
    padding-right:25px;
}

#colorNav li ul{
	position:absolute;
	list-style:none;
	text-align:center;
	width:180px;
	left:50%;
	margin-left:-90px;
	font:bold 12px 'Open Sans Condensed', sans-serif;
	max-height:0px;
	overflow:hidden;
	
	-webkit-transition:max-height 0.4s linear;
	-moz-transition:max-height 0.4s linear;
	transition:max-height 0.4s linear;
    z-index:100;
}

#colorNav li ul li{
	background-color:#313131;
}

#colorNav li ul li a{
	padding:12px;
	color:#fff !important;
	text-decoration:none !important;
	display:block;
}

#colorNav li ul li:nth-child(odd){ 
	background-color:#363636;
}

#colorNav li ul li:hover{
	background-color:#444;
}

#colorNav li ul li:first-child{
	border-radius:3px 3px 0 0;
	margin-top:25px;
	position:relative;
}

#colorNav li ul li:first-child:before{ /* the pointer tip */
	content:'';
	position:absolute;
	width:1px;
	height:1px;
	border:5px solid transparent;
	border-bottom-color:#313131;
	left:50%;
	top:-10px;
	margin-left:-5px;
}

#colorNav li ul li:last-child{
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
}

#colorNav li:hover ul{
	max-height:200px; 
}

/*--------------------------------------------------------------------------
+	Extras Menu (Cart, Language, Login) Style
--------------------------------------------------------------------------*/
.mainmenu-wrapper {
  background-color: #04BFEA;
  background:rgba(4,191,234,0.3);
  padding-bottom:5px;
  padding-top:10px;
  z-index: 4;
}
.menuextras {
  font-size: 0.85em;
  height: 30px;
  margin-bottom:5px;
}
.menuextras ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
  padding: 3px 0;
}
.menuextras li {
  float: left;
  padding: 0 8px;
}
.menuextras .extras li {
  padding: 0 8px;
}
.menuextras .extras li a {
  color: #333;
}
.menuextras .extras li a:hover {
  color: #333;
  text-decoration: none;
}

/*--------------------------------------------------------------------------
                                 以上为后期修改
----------------------------------------------------------------------------*/


h1,h2,h3,h4,h5,h6,a{
	margin:0;	
	font-family: 'Audiowide', cursive;
}	
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
/**/
.talent-welcome{
    width:100%;
    height:150px;
    background-image:url(../images/talent/talent-welcome.png);
    background-size:100% 150px;

}
.talent-welcome h3{
    font-weight:bolder;
	font-size: 30px;
	color: #fff;
    font-family: open sans;
    font-style: normal;
	text-align: center;
    line-height:115px;
}
.talent-state{
    width:900px;
    height:650px;
    margin:0 auto;
}
.state-top{
    width:900px;
    height:225px;
    float:left;
}
.state-bottom{
    width:900px;
    height:290px;
    margin-top:50px;
    float:left;
}
.state{
    float:left;
    width:370px;
    height:300px;
    margin-left:80px;
    font-weight:bolder;
	font-size: 24px;
	color: #676c6e;
    font-family: open sans;
    font-style: normal;
	text-align: center;
}
.state span{
    font-size:5px;
}
.state-end span{
    font-size:5px;
}
.state-center{
    width:900px;
    height:50px;
    text-align:center;
    font-weight: 100 !important;
	font-size: 24px;
	color: #444444;
    font-family: open sans;
    font-style: normal;
	text-align: center;
}
.state-end{
    float:left;
    width:270px;

    margin-left:330px;
    font-weight:bolder;
	font-size: 24px;
	color: #676c6e;
    font-family: open sans;
    font-style: normal;
	text-align: center;
}
/**/
body a:hover{
	text-decoration:none;
}
.header-container{
    width:100%;
    height:100px;
}

.header-top-right{
	float:right;
}
.header-top-right p{
	font-size:1em;
	color:#fff;
	margin:0;
}
.header-top-right span{
	padding: 1.1em 2em 1.1em 2.1em;
    background: #04bfea;
    /*margin-left: 2em;*/
}
.header-top-right p span i {
    left: -1em;
}
.header-logo{
	background:#05bfea;
}
.navbar-header{
margin-left:30px;
}
.logo-left{
    width:25px;
    height:25px;
    float:left;
    margin-top:15px;
}
.navbar-brand{
	font-size:2em;
	color:#fff !important;
	text-decoration:none;
}
.navbar-brand span{
	display: block;
    font-size: 13px;
    padding-left: .3em;
    color: #E5E5E5;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.navbar-default{
	border: none;
	background:none;
}
.navbar-nav {
    float: right;

}
.navbar {
    min-height: 62px;
    margin-bottom: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #5dd3c8;
}
.navbar-nav > li > a {
    padding: 35px 20px 30px;

}
.sub{
    font-size:8px;
    color:#d7dbe7;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-collapse {
    padding: 0;
}
.navbar-brand {
    
    padding: 15px 0px 0;
    /*margin-right:150px;*/
}
/* Bounce To Bottom */
.hvr-bounce-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #5dd3c8;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: white;
}
.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/*-- header --*/
/*-- banner --*/
.banner{
    
	background: url(../images/talent/banner.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height:800px;
}
.banner-info{
	width:40%;
	padding:2em 2em 4em;
	margin:30em 0 0 35em;
	background:#5dd3c8;
	border-top-left-radius: 30px;
}
.banner-info h1{
	font-size:1.5em;
	color:#fff;
	margin:0;
	line-height:1.4em;
}
.banner-info p{
	font-size:14px;
	color:#fff;
	margin:1em 0 0;
	line-height:1.8em;
}
/*-- //banner --*/
/* Footer
==========================*/
.footer {
    width:100%;
  background: #222;
  color: #A0A0A0;
  padding: 0 20px 10px 20px;
  display:block;
  border-top: 4px solid #4f8db3;
  margin-top: 20px;
  -webkit-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  box-shadow: 0 -1px 12px rgba(0,0,0,0.4);
  color: 0 -1px 12px rgba(0,0,0,0.4);
}
.footer h3 {
    font-size: 1.4em;
    color: #84754e;
    margin-top: 3em;
    margin-bottom: 1.5em;
}
.footer ul {
  padding: 0;
}

.footer-navigate-section li {
  line-height: 35px !important;
}
.footer-stay-connected a {
  text-align: left;
  text-indent: -9999px;
  display: block;
  width: 115px;
  height: 40px;
  background: url(../images/stay-connected.png);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -webkit-transition: opacity .25s linear;
  -moz-transition: opacity .25s linear;
  -o-transition: opacity .25s linear;
  -ms-transition: opacity .25s linear;
  transition: opacity .25s linear;
}
.footer-stay-connected a:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer-stay-connected a.facebook {
  background-position: -115px 0;
}
.footer-stay-connected a.twitter {
  background-position: -230px 0;
}
.footer-stay-connected a.googleplus {
  background-position: 0 0;
}
.footer-stay-connected li {
  text-align: center;
}
.footer-copyright {
  text-align: center;
  color: #7C7C7C;
  border-top: 1px dotted #7C7C7C;
  padding-top: 10px;
  font-size: 0.9em;
}
ul.flickr li {
    width: 30%;
    float: left;
	display:inline-block;
	margin:0 3px 3px 0;
}
ul.flickr li img {
	width:100%;
	border:1px solid #1f1f1f;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
ul.flickr li img:hover {
	border:1px solid #84754e;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}


/* rslides */
.rslides{
	position:relative;
	list-style:none;
	overflow:hidden;
	width:100%;
	padding:0;
	margin:0;
}
.rslides li{
	-webkit-backface-visibility:hidden;
	position:absolute;
	display:none;
	width:100%;
	left:0;
	top:0;
}
.rslides li:first-child{
	position:relative;
	display:block;
	float:left;
}
.rslides img{
	display:block;
	height:auto;
	float:left;
	width:100%;
	border:0;
}
/*pager*/
.callbacks_tabs.callbacks1_tabs{margin-top:-40px; position:relative;z-index:100;margin-bottom:20px;}
.callbacks_tabs.callbacks1_tabs li{display:inline-block;width:10px;height:10px;margin-left:5px;border-radius:10px;border:1px solid #FFF;position:relative;}
.callbacks_tabs.callbacks1_tabs li a{display:inline-block;width:10px;height:10px;border-radius:10px;position:absolute; left:0; z-index:1000; color:rgba(100,200,300,0);color:transparent;}
.callbacks_tabs.callbacks1_tabs li.callbacks_here a{background:#FFF;}

/* Callback example */
.callbacks_container{
	margin-bottom:2px;
	position:relative;
	width:100%;
	text-align:center;

}

.callbacks{
	position:relative;
	list-style:none;
	overflow:hidden;

	padding:0;
	margin:0;

}
.callbacks li{
	position:absolute;

	left:0;
	top:0;
}
.callbacks img{
	display:block;
	position:relative;
	z-index:1;
	height:auto;

	border:0;
}
.callbacks .caption{
	display:block;
	position:absolute;
	z-index:2;
	font-size:20px;
	text-shadow:none;
	color:#fff;
	background:#000;
	background:rgba(0,0,0, .8);
	left:0;
	right:0;
	bottom:0;
	padding:10px 20px;
	margin:0;
	max-width:none;
}
.callbacks_nav{
	position:absolute;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	top:50%;
	left:0;
	opacity:0.6;
	z-index:3;
	text-indent:-9999px;
	overflow:hidden;
	text-decoration:none;
	height:61px;
	width:38px;
	background:transparent url("../images/talent/themes.gif") no-repeat left top;
	margin-top:-30px;
	display:none;
}
.callbacks_container:hover .callbacks_nav{display:block;}
.callbacks_nav:active{opacity:1.0;}
.callbacks_nav.next{
	left:auto;
	background-position:right top;
	right:0;
}


	.callbacks_nav{
		top:47%;
	}


