.container1{
	width: 100%;
	position: relative;
}
.container1 h3{
	font-size: 1.17em;
    margin: 1em 0;
}
.container1 a{
	color: #555;
	text-decoration: none;
}

.main{
	width: 100%;
	position: relative;
    text-align:center;
}

.main ul{
    width:100%;
    margin-right:20px;
    margin-top:20px;
}

.ch-grid {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	width: 100%;
}

.ch-grid:after{
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 10px;
}

/*--------------------------------------------------------------------------
	        科技计划申报中心
--------------------------------------------------------------------------*/
.ch1-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.ch1-item:before {
	content: '';
    display: table;
}

.ch1-img-1 { 
	background-image: url(../images/CircleHover/application2.jpg);
}

.ch1-img-2 { 
	background-image: url(../images/CircleHover/guide1.jpg);
}

.ch1-img-3 { 
	background-image: url(../images/CircleHover/consult1.jpg);
}

.ch1-info {
	position: absolute;
	background: rgba(158,147,108, 0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	opacity: 0;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden;

}

.ch1-info h3 {
    text-align: center;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 45px 0 0 0;
	height: 120px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch1-info p {
    text-align: center;
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	-webkit-transition: all 1s ease-in-out 0.4s;
	-moz-transition: all 1s ease-in-out 0.4s;
	-o-transition: all 1s ease-in-out 0.4s;
	-ms-transition: all 1s ease-in-out 0.4s;
	transition: all 1s ease-in-out 0.4s;
}

.ch1-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch1-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.ch1-item:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}
.ch1-item:hover .ch1-info {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.ch1-item:hover .ch1-info p {
	opacity: 1;
}
/*--------------------------------------------------------------------------
	        科技经费预算申报中心
--------------------------------------------------------------------------*/
.ch2-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 0 rgba(158,207,108, 0.4),
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
		
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.ch2-item:before {
	content: '';
    display: table;
}

.ch2-img-1 { 
	background-image: url(../images/CircleHover/Mapplication.jpg);
}

.ch2-img-2 { 
	background-image: url(../images/CircleHover/Mguide.jpg);
}

.ch2-img-3 { 
	background-image: url(../images/CircleHover/consult1.jpg);
}

.ch2-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden; /*for a smooth font */

}

.ch2-info h3 {
    text-align: center;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 45px 0 0 0;
	height: 120px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch2-info p {
    text-align: center;
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);

}

.ch2-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch2-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.ch2-item:hover {
	box-shadow: 
		inset 0 0 0 110px rgba(158,147,108, 0.4),
		inset 0 0 0 16px rgba(255,255,255,0.8),
		0 1px 2px rgba(0,0,0,0.1);
}

.ch2-item:hover .ch2-info {
	opacity: 1;
	
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);	
}
/*--------------------------------------------------------------------------
	        section-navigation
--------------------------------------------------------------------------*/

.section-navigation{
    background:#80333c;
    background: rgba(128, 58, 60, 0.7);
    width:100%;
    text-align:center;
    margin:0 auto;
}
.section-navigation ul{
    list-style-type:none;
}
.section-navigation ul li{
    display: inline-block;
    font-size:18px;
    margin-right:10px;
}