.Release-main{
    width:100%;
    height:650px;
    position:relative;
}
.Pmain{
    height:565px;
    width:900px;
    left:20%;
    top:50px;
    border:5px solid  #a8d34e;
    border-radius:5px;
    background-color:#e8ebf0;
    z-index:100;
    position:absolute;

}

.TalentRe-tips {
    height:120px;
    width: 100%;
    background: url(../images/train/train-show.png);
    background-size: 100% 100%;
    position:absolute;
    z-index:90;
}
.TalentRe-tips-img{
    height:60px;
    float:left;
    margin-left:20%;
    margin-right:auto;
    line-height:55px;
    font-weight:bolder;
    color:#fff;
    font-size:30px;
}
.TalentRe-Talent{
  
    float:left;
    margin-left:auto;
    margin-right:auto;
    line-height:55px;
    font-weight:bolder;
    color:#fff;
    font-size:15px;
}

/*Table*/
.TalentRe-tittle{
    width:900px;
    height:50px;
    border:1px solid #fff;
    float:left;
    background-color:#fff;
}
.TalentRe-table{
    width:890px;
    height:480px;
    margin-left:4px;
   
    float:left;
    background-color:#fff;

}
.table-tittle {
    width:900px;
    height:30px;
    background-color:#a8d34e;
    color:#fff;
    font-size:20px;
    line-height:30px;
    float:left;
}
.table-back{
    width:65px;
    height:30px;
    float:right;
}
.table-tittle span{
    font-size:22px;
    color:#f5ff00;
}
.table-deta-th{
    width:109px;
    height:300px;
    font-size:15px;
    font-weight:bolder;
    text-align:center;
    padding-top:10px;
     border-left:3px solid #e8ebf0;
    border-right:3px solid #e8ebf0;
    
    float:left;
}
.table-deta-td{
    width:772px;
    height:300px;
    font-size:15px;
    font-weight:bolder;
    text-align:center;
    padding-top:10px;
   
    border-right:3px solid #e8ebf0;
    float:left;
}
.table-button{
    float:right;
    margin-right:5px;
    margin-top:10px;
}
.table-simple-th{
    height:60px;
    width:125px;
    font-size:15px;
    font-weight:bolder;
    line-height:60px;
    text-align:center;
    border:3px solid #e8ebf0;
    
}
.table-simple-td{
    height:60px;
    width:325px;
    font-size:15px;
    font-weight:bolder;
    line-height:60px;

    border:3px solid #e8ebf0;

}
 select {
   width:250px;
   height:40px;
   line-height:40px;
  color: black;
  margin-left:5px;
  background-color: #a8d34e;
  font-weight:bolder;
}
 select option {
   width:300px;
   height:40px;
   line-height:40px;
  color: black;
  background-color:#a8d34e;
  font-weight:bolder;
}
.table-simple-end1{
    height:40px;
    border-bottom:3px solid #e8ebf0;
    border-right:3px solid #e8ebf0;
}
.table-end1-botton{
    width:700px;
     height:25px;
   line-height:25px;
  color: black;
  font-size:18px;
   margin-left:5px;
}
.table-simple-end2{
    height:40px;
    border-bottom:3px solid #e8ebf0;
    border-right:3px solid #e8ebf0;
}
.deta-text{
    margin-left:-15px;
    width:730px;
    height:250px; 
    resize: none;
    font-size:25px;
}
.table-simple-td input[type="text"] {
   width:250px;
   height:25px;
   line-height:25px;
  color: black;
  font-size:18px;
   margin-left:5px;
}
#CKbutton{
background: #8bc220; color: #fff; border: 1px solid #8bc220;
}