@{
    ViewBag.Title = "HADJOIN";
    Layout = "~/Views/Train.cshtml";
}
<link href="~/css/TrainWrong.css" rel="stylesheet" />
<div class="Wmain">
    <div class="W-pirture">
        <img src="~/images/wrong.png" draggable="false" />
    </div>
    <div class="W-tips">
        抱歉..你已经接受该项目
    </div>
</div>
