@{
    ViewBag.Title = "Access2";
}

<head>
<title>注册</title>
    <link href="~/css/Access2.css" rel="stylesheet" />
    <script src="~/js/jquery-2.1.0.min.js"></script>
    <script src="~/js/easyfrom.js"></script>

</head>

<body>
    <div class="head">
        <div class="HomeLogo">
            <a href="~/Home.html">
                <img src="~/images/accesslogo.png" draggable="false" />
            </a>
        </div>
        <div class="BackLogin" draggable="false">
            已有帐号？<a href="~/Login/Login">
                <div class="Back-arrow">
                    <img src="~/images/back-arrow.png" />
                </div>
            </a>
        </div>

    </div>
<div class="form-div">
    <form id="reg-form" method="post">

<ul id="tabs">

    <li><a href="#" title="tab3">企业注册</a></li>

</ul>

<div id="content"> 
    <div id="tab3">
        <h2>请认真填写您的企业信息！</h2>
        <table>
             <tr>
                <td>用户名</td>
                <td><input name="En_UserName" type="text" id="En_UserName" easyform="length:4-16;char-normal;real-time;" message="用户名必须为4—16位的英文字母或数字" easytip="disappear:lost-focus;theme:blue;" ajax-message="用户名已存在!"/>
                </td>   
                </tr>
             <tr>
                <td>密码</td>
                <td><input name="En_psw1" type="password" id="En_psw1" easyform="length:6-16;" message="密码必须为6—16位" easytip="disappear:lost-focus;theme:blue;"/></td>
            </tr>
            <tr>
                <td>确认密码</td>
                <td><input name="En_psw2" type="password" id="En_psw2" easyform="length:6-16;equal:#En_psw1;real-time;" message="两次密码输入要一致" easytip="disappear:lost-focus;theme:blue;"/></td>
            </tr>
            <tr>
                <td>企业email</td>
                <td><input name="En_email" type="text" id="En_email" easyform="email;real-time;" message="Email格式要正确" easytip="disappear:lost-focus;theme:blue;" ajax-message="这个Email地址已经被注册过，请换一个吧!"/></td>
            </tr>
            <tr>
                <td>企业名字</td>
                <td><input name="En_nickname" type="text" id="En_nickname" easyform="length:2-16;" message="企业名字必须为2—16位" easytip="disappear:lost-focus;theme:blue;"/></td>
            </tr>            
             <tr>
                <td>企业类型</td>
                <td><input name="En_type" type="text" id="En_type" easyform="length:2-16;" message="请输入企业类型" easytip="disappear:lost-focus;theme:blue;"/></td>
            </tr>
            <tr>
                <td>企业规模</td>
                <td><input name="En_Scale" type="text" id="En_Scale" easyform="length:2-16" message="请输入企业规模" easytip="disappear:lost-focus;theme:blue;" /> </td>
            </tr>
            <tr>
                <td>企业地点</td>
                <td><input name="En_Place" type="text" id="En_Place" easyform="length:2-50;" message="请输入企业地点" easytip="disappear:lost-focus;theme:blue;"/></td>
            </tr>            
             <tr>
                <td>企业行业类型</td>
                <td><input name="En_Industry" type="text" id="En_Industry" easyform="length:2-16;" message="请输入企业行业类型" easytip="disappear:lost-focus;theme:blue;"/></td>
            </tr>
            <tr>
                <td>企业邮政编码</td>
                <td><input name="En_Postcode" type="text" id="En_Postcode" easyform="length:4-16;" message="请输入邮政编码" easytip="disappear:lost-focus;theme:blue;"/></td>
            </tr>
            <tr>
                <td>电话</td>
                <td><input name="En_tel" type="text" id="En_tel" easyform="real-time;length:7-19;" message="请输入电话" easytip="disappear:lost-focus;theme:blue;"/></td>
            </tr> 
             <tr>
                <td>企业联系人</td>
                <td><input name="En_Contact" type="text" id="En_Contact" easyform="length:2-50;" message="请输入企业联系人" easytip="disappear:lost-focus;theme:blue;"/></td>
            </tr> 
             <tr>
                <td>企业业务范围</td>
                <td><input name="En_Business" type="text" id="En_Business" easyform="length:2-200;" message="请输入企业业务范围" easytip="disappear:lost-focus;theme:blue;"/></td>
            </tr> 
             <tr>
                <td>企业简介</td>
                <td><input name="En_Brief" type="text" id="En_Brief" easyform="length:2-200;" message="请输入企业简介" easytip="disappear:lost-focus;theme:blue;"/></td>
            </tr>
            <tr>
                <td>企业文化</td>
                <td><input name="En_Culture" type="text" id="En_Culture" easyform="length:2-200;" message="请输入企业文化" easytip="disappear:lost-focus;theme:blue;"/></td>
            </tr>
            <tr>
                <td>QQ</td>
                <td><input name="QQ" type="text" id="QQ" easyform="length:5-30;real-time;" message="请输入QQ" easytip="disappear:lost-focus;theme:blue;"/></td>
            </tr>   
            </table>
        <input value="企业注册" type="submit" style="margin-right:20px; margin-top:20px;margin-left:160px" name="Access">
			<input value="我有账号，我要登录" type="button" style="margin-right:45px; margin-top:20px;" onclick="window.open('Login')">
    </div>
</div>
</form>
</div>
    

    <script>
        $(document).ready(function () {
            $("#content div").hide(); // Initially hide all content
            $("#tabs li:first").attr("id", "current"); // Activate first tab
            $("#content div:first").fadeIn(); // Show first tab content

            $('#tabs a').click(function (e) {
                e.preventDefault();
                $("#content div").hide(); //Hide all content
                $("#tabs li").attr("id", ""); //Reset id's
                $(this).parent().attr("id", "current"); // Activate this
                $('#' + $(this).attr('title')).fadeIn(); // Show content for current tab
            });
        })();
</script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#reg-form').easyform();
        });
</script>
</body>
