@{
    ViewBag.Title = "GWrong";
    Layout = "~/Views/Goverment.cshtml";
}
<link href="~/css/GWrong.css" rel="stylesheet" />
<div class="Pmain">
    <div class="P-pirture">
        <img src="~/images/wrong.png" draggable="false" />
    </div>
    <div class="P-tips" >
        抱歉..你没有相关权限发布
    </div>
</div>

