@{
    ViewBag.Title = "TalentWrong";
    Layout = "~/Views/Talent.cshtml";
}

<link href="~/css/Pwrong.css" rel="stylesheet" />
<div class="Wmain">
    <div class="W-pirture">
        <img src="~/images/wrong.png" draggable="false" />
    </div>
    <div class="W-tips">
        抱歉..你没有相关权限发布
    </div>
</div>

